.two-side {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 310px 1fr;
    height: 100vh;
    overflow: hidden;
}

.two-side__aside {
    background-color: var(--background-color-secondary);
    border-right: 1px solid var(--stroke-color);
}

.two-side__aside__header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
    padding: 22px 10px 15px;
    height: var(--chat-header-height);
}

.two-side__aside__chats {
    overflow: scroll;
    height: calc(100vh - var(--chat-header-height));
    margin: 0;
    padding: 0;
}
