.link {
    color: var(--accent-color);
    text-decoration: none;
    outline: none;
}

.link_negative {
    color: var(--error-color);
}

.link:hover {
    text-decoration: underline;
}

.link:focus {
    text-decoration: underline;
}
