.selected {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 54px calc(100vh - 54px * 2 - 10px * 2) 54px;
    grid-template-areas:
        "."
        "."
        ".";
    height: 100vh;
    padding: 10px 20px;
}

.selected__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--stroke-color);
    width: 100%;
    height: 100%;
}

.selected__header__chat-name {
    margin-left: 10px;
    font-size: 13px;
}

.selected__header__menu {
    margin-left: auto;
}

.selected-messages {
    display: flex;
    flex-direction: column-reverse;
    color: var(--text-color-secondary);
    overflow-y: scroll;
    overflow-x: hidden;
}

.selected__footer {
    position: relative;
    display: flex;
    align-items: center;
    place-self: center;
    border-top: 1px solid var(--stroke-color);
    width: 100%;
    height: 100%;
}

.selected__footer__input {
    margin: 0 20px;
    width: 100%;
}

.selected__footer__button {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: transform 100ms ease-in-out;
}

.selected__footer__button:hover,
.selected__footer__button:focus {
    transform: rotate(-30deg);
}

.selected__footer__button_attach {
    background: url("./assets/attach.svg") no-repeat 50% 50%;
}

.selected__footer__button_send {
    background: url("./assets/send.svg") no-repeat 50% 50% var(--accent-color);
}

.selected__footer__attach-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 128px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    transform: translateY(-105%);
    background-color: var(--background-color-secondary);
    border-radius: 12px;
}

.selected__footer__attach-menu[data-visible="false"] {
    display: none;
}

.selected__footer__attach-menu > li {
    list-style: none;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.selected__footer__attach-menu > li::before {
    content: "";
    width: 22px;
    height: 22px;
    margin-right: 15px;
}

.selected__footer__attach-menu > li:nth-of-type(1)::before {
    background: url("./assets/photo.svg") no-repeat 50% 50%;
}

.selected__footer__attach-menu > li:nth-of-type(2)::before {
    background: url("./assets/file.svg") no-repeat 50% 50%;
}

.selected__footer__attach-menu > li:nth-of-type(3)::before {
    background: url("./assets/geo.svg") no-repeat 50% 50%;
}
