.selected {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 54px calc(100vh - 54px * 2 - 10px * 2) 54px;
  grid-template-areas:
    "."
    "."
    ".";
  height: 100vh;
  padding: 10px 20px;
}

.selected__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--stroke-color);
  width: 100%;
  height: 100%;
}

.selected__header__chat-name {
  margin-left: 10px;
  font-size: 13px;
}

.selected__header__menu {
  margin-left: auto;
}

.selected-messages {
  display: flex;
  flex-direction: column-reverse;
  color: var(--text-color-secondary);
  overflow-y: scroll;
  overflow-x: hidden;
}
