.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error--title {
    color: var(--text-color-heading);
    margin: 0;
}

.error--text {
    color: var(--text-color-main);
    margin: 20px 0 70px;
}