.avatar {
    position: relative;
}

.avatar__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.avatar:hover > .avatar__menu {
    opacity: 1;
}

.avatar__image {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--stroke-color);
    background-color: var(--controls-background);
    pointer-events: none;
    user-select: none;
}

.avatar__image_medium {
    width: 47px;
    height: 47px;
}

.avatar__image_small {
    width: 34px;
    height: 34px;
}
