.input {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.input__label {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-secondary);
}

.input__input {
    height: 44px;
    width: 100%;
    border-radius: 8px;
    font-size: 17px;
    line-height: 20px;
    margin: 4px 0;
    padding: 6px 12px;
    border: 1px solid var(--stroke-color);
    transition: border 300ms ease-in-out;
    outline: none;
    background-color: var(--controls-background);
    color: var(--text-color-main);
}

.input__input:hover {
    border: 1px solid var(--controls-hover);
}

.input__input:focus {
    border: 1px solid var(--controls-focus);
}
