.button {
    width: 100%;
    height: 44px;
    background-color: var(--accent-color);
    border-radius: 8px;
    padding: 10px;
    color: var(--text-color-main);
    border: none;
    transition: scale 100ms ease;
    outline: none;
}

.button:hover {
    transform: scale(102%);
}

.button:focus {
    transform: scale(102%);
}
